body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 5px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  background-color: #4286f4; /* Set your desired button color */
  position: relative;
  cursor: pointer;
  box-shadow: 10px 20px 30px 40px rgba(163, 154, 154, 0.3);
  /*transform-style: preserve-3d;*/
  /*transition: transform 0.3s ease-in-out;*/
}

/* Hover effect */
.btn:hover {
  transform: translateY(3px); /* Add a slight upward translation on hover */
  box-shadow: 0px 2px 4px 8px rgba(206, 241, 8, 0.3); /* Adjust the shadow on hover */
}

/* Active (click) effect */
.btn:active {
  transform: translateY(0); /* Reset the translation on click */
  box-shadow: 0px 2px 4px 8px rgba(247, 41, 5, 0.2); /* Adjust the shadow on click */
}

@media screen and (max-width: 1200px) {
  #level-title {
    font-size: 2rem;
    margin-bottom: 200px;
  }
  .container {
    display: flex;
    flex-direction: column;
    width:fit-content;
    text-align: center;
  }
}

.game-over {
  background-color: rgb(184, 84, 84);
  opacity: 0.7;
}

.red {
  background-color: red;
  border-radius: 0% 100% 0% 0%;
}

.green {
  background-color: green;
  border-radius: 100% 0% 0% 0%;
}

.blue {
  background-color: blue;
  border-radius: 0% 0% 100% 0%;
}

.yellow {
  background-color: yellow;
  border-radius: 0% 0% 0% 100%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


/* Incline the top two buttons towards the screen */
/*
.btn:nth-child(1),
.btn:nth-child(2) {
    transform: rotateX(30deg);
}
*/

/* Incline the bottom two buttons towards the user */
/*
.btn:nth-child(3),
.btn:nth-child(4) {
    transform: rotateX(-30deg);
}
*/

